
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("PaymentWithCreditCard", "Payment")"> <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/ppcredit-logo-large.png" alt="PayPal Credit" /> </a>
<a href="@Url.Action("PaymentWithPaypal", "Payment")"> <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" /> </a>
@*@Html.ActionLink("Pay Direct With Credit Card", "PaymentWithCreditCard", "Payment")
@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Payment")*@