@model SITech.DTO.MenuViewModel
           <!-- START SIDEBAR MENU -->
<div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
        <li class="m-t-30 ">
            <a href="#" class="detailed">
                <span class="title">Dashboard</span>
                <span class="details">12 New Updates</span>
            </a>
            <span class="icon-thumbnail bg-success"><i class="pg-home"></i></span>
        </li>
        <li class="">
            <a href="javascript:;">
                <span class="title">Menu</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-tables"></i></span>
            <ul class="sub-menu">
                <li class="">
                    <a href="/WebApp/AddMenuItem">Create</a>
                    <span class="icon-thumbnail"></span>
                </li>
                <li class="">
                    <a href="/WebApp/MenuItems">Active</a>
                    <span class="icon-thumbnail"></span>
                </li>
                <li class="">
                    <a href="/WebApp/UnactiveMenuItems">Unactive</a>
                    <span class="icon-thumbnail"></span>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <span class="title">Beverages</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-tables"></i></span>
            <ul class="sub-menu">
                <li class="">
                    <a href="~/Views/Shared/tables.html">Basic Tables</a>
                    <span class="icon-thumbnail">bt</span>
                </li>
                <li class="">
                    <a href="~/Views/Shared/datatables.html">Data Tables</a>
                    <span class="icon-thumbnail">dt</span>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <span class="title">Inventories</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-tables"></i></span>
            <ul class="sub-menu">
                <li class="">
                    <a href="~/Views/Shared/tables.html">Basic Tables</a>
                    <span class="icon-thumbnail">bt</span>
                </li>
                <li class="">
                    <a href="~/Views/Shared/datatables.html">Data Tables</a>
                    <span class="icon-thumbnail">dt</span>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <span class="title">Food</span>
                <span class=" arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="pg-tables"></i></span>
            <ul class="sub-menu">
                <li class="">
                    <a href="~/Views/Shared/tables.html">Basic Tables</a>
                    <span class="icon-thumbnail">bt</span>
                </li>
                <li class="">
                    <a href="~/Views/Shared/datatables.html">Data Tables</a>
                    <span class="icon-thumbnail">dt</span>
                </li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- END SIDEBAR MENU -->

