<header id="header" class="transparent-header dark full-header no-sticky">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="/Content/defaultlayout/images/logo-dark.png"><img src="/Content/defaultlayout/images/logo.png" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="/Content/defaultlayout/images/logo-dark@2x.png"><img src="/Content/defaultlayout/images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">

                <ul>
                    <li class="current">
                        <a href="/Home/Default"><div>Home</div></a>
                    </li>
                    <li>
                        <a href="#"><div>Account</div></a>
                        <ul>                          
                            <li><a href="/Account/Register"><div><i class="icon-line-layout"></i>Register</div></a></li>                       
                            <li><a href="/Account/Login"><div><i class="icon-adjust"></i>Login</div></a></li>                          
                        </ul>
                    </li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header>
